* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/*navbar*/
nav {
  display: flex;
  background-color: #2b3499;
  justify-content: space-around;
  color: rgb(249, 244, 244);
  height: 50px;
  width: 100%;
  align-items: center;
  position: fixed;
  place-items: center;
  font-weight: bold;
  z-index: 9;
}
nav ul {
  display: flex;
  list-style: none;
  width: 70%;
  justify-content: space-between;
}
nav ul li a {
  color: rgb(252, 250, 250);
  text-decoration: none;
  font-size: 0.7;
}
nav.logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}
nav ul li a:hover {
  color: rgb(8, 8, 8);
}
/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(10, 10, 10);
  border-radius: 3px;
  transition: all 0.5s;
}

.A {
  background-image: url('../img/blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}
/* header */
header {
  padding-top: 15rem;
}

.homes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  cursor: pointer;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}
.hero img {
  width: 60%;
  border-radius: 17rem;
  box-shadow: 2px 2px 10px 7px;
}
.home {
  text-align: center;
  margin: auto;
  color: aliceblue;
  display: grid;
}
.heading {
  margin: auto;
}
.homes h1 {
  font-size: 50px;
}
.homes h3 {
  font-size: 40px;
}
.homes h4 {
  font-size: 25px;
}

.abouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  cursor: pointer;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}
.kedua {
  background-image: url('../img/wht.jpg');
  background-size: cover;
}
.hero-1 img {
  width: 60%;
  border-radius: 17rem;
  box-shadow: 2px 2px 10px 7px;
  margin-left: 20rem;
  margin-top: 70px;
}
.about {
  text-align: center;
  margin: auto;
  color: rgb(18, 18, 19);
}
.heading-2 {
  margin: auto;
  padding: 20px;
}
.about h1 {
  font-size: 50px;
}
.about h3 {
  font-size: 40px;
}
.about h4 {
  font-size: 25px;
}

.educations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  cursor: pointer;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}
.ketiga {
  display: grid;
  background-image: url('../img/blue\ 2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-2 img {
  width: 60%;
  border-radius: 17rem;
  box-shadow: 2px 2px 10px 7px;
  margin-top: 180px;
}
.education {
  text-align: center;
  margin: auto;
  color: white;
}
.heading-3 {
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  border-width: 7px;
  padding: 20px;
}
.education h1 {
  font-size: 50px;
  margin-top: 20px;
}
.education h3 {
  font-size: 40px;
}
.education h4 {
  font-size: 25px;
}

.skilss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  cursor: pointer;
  max-width: 1500px;
  margin: auto;
}

.hero-3 img {
  width: 50%;
  border-radius: 17rem;
  box-shadow: 2px 2px 10px 7px;
  margin: center;
}
.skilss {
  text-align: center;
  margin: auto;
  color: rgb(18, 18, 19);
}
.heading {
  margin: auto;
}
.skils h1 {
  font-size: 50px;
}
.skils h3 {
  font-size: 40px;
}
.skils h4 {
  font-size: 25px;
}

/* 
    hamburger menu animation
    */
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  background-color: rgb(238, 243, 245);
}
.menu-toggle span:nth-child(3) {
  background-color: rgb(247, 242, 242);
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
  background-color: rgb(246, 239, 239);
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  margin-left: -8px;
  z-index: 2;

  cursor: pointer;
}

/* responsive break */
/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
    display: flex;
  }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 3;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2b3499;
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translate(0);
  }
  .educations {
    grid-template-columns: 1fr;
  }
  .heading-3 {
    font-size: 10px;
  }
  .hero-2 img {
    margin-left: 20%;
  }
  .homes {
    grid-template-columns: 1fr;
  }
  .heading {
    font-size: 10px;
  }
  .hero img {
    margin-left: 20%;
  }
  .abouts {
    grid-template-columns: 1fr;
  }
  .heading-2 {
    font-size: 10px;
  }
  .hero-1 img {
    margin-left: 20%;
  }
}
.kotakawal {
  width: 50%;
}
.kotak .close {
  position: absolute;
  top: 130px;
  margin-left: 900px;
  text-decoration: none;
  color: white;
  background-color: rgb(156, 2, 2);
  padding: 5px;
  border: 5px;
  border-radius: 5px;
  line-height: 25px;
}
.keempat span {
  margin-left: -40px;
  margin-top: 35px;
}
.radd {
  text-decoration: none;
  list-style: none;
}
.keempat h1 {
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  padding: 50px;
}
.radd li img {
  border-radius: 3%;
}
.aa {
  margin-top: 15%;
  margin-bottom: 15%;
  justify-content: center;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 20px;
}
.radd li {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-left: 7%;
  padding: 20px;
}
.keempat span {
  padding-top: 15px;
}
.radd li span {
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba (200, 200, 200, 0.5);
  border-radius: 70%;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 100px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 0.3s;
}
.radd li a:hover span {
  opacity: 1;
  size: 10px;
  color: white;
}
.kotak {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
  z-index: 99999;
  text-align: center;
}
.kotak:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.kotak img {
  margin-left: -40px;
  max-height: 100%;
  width: 30%;
  margin-top: 13%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  gap: 90rem;
}
.desk {
  color: white;
}
.keempat {
  background-image: url('../img/wht\ 2.jpg');
  background-size: cover;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  justify-content: center;
}

.contact form .textbox input {
  width: 60%;
  padding: 25px;
  border-radius: 15px;
  margin: 0.3rem;
  background-color: rgb(252, 253, 253);
  color: black;
}
form .button .btn-summit {
  margin-top: 2rem;
  border-radius: 5px;
  width: 15%;
  height: 12%;
  padding: 1rem;
}
.kelima {
  background-image: url("../img/blue\ 3\ -\ Copy.jpeg");
  background-size: cover;
}
.contact h2 {
  color: aliceblue;
  padding: 15%;
}
.footer {
  background-color: black;
  color: white;
  padding: 2rem 9%;
}
.keempat h1 {
  color: black;
  margin-top: 30px;
}
